POSTGRES_DB=
POSTGRES_PASSWORD=
POSTGRES_USER=
DB_HOST=
DB_PORT=
POSTGRES_SCHEMA=
DATABASE_URL=

REDIS_PORT=
PORT=
CORS_ORIGIN=
JWT_SECRET=
JWT_EXPIRES_IN_SECONDS=

NODE_ENV=development
COOKIE_SECURE=
COOKIE_SAME_SITE=
THROTTLE_TTL=60000
THROTTLE_LIMIT=100
